html {
    // 1rem = 10px
    font-size: 62.5%;
}

html, body {
    min-width: 24rem;
}

* {
    box-sizing: border-box;
}

// Fix colors for dark GTK+ themes
input, select {
    -moz-appearance: none !important;
    background-color: #fff;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.hide {
    display: none !important;
}

.tab {
    display: none;
    animation: fadeIn 340ms ease-in-out both;
}

.show {
    display: flex;
}
