@font-face {
    font-family: "Jameel Noori Nastaleeq";
    src: url("/css/fonts/Jameel-Noori-Nastaleeq.woff") format("woff"),
        url("/css/fonts/Jameel-Noori-Nastaleeq.ttf") format("ttf");
}

/* @font-face {
    font-family: "Noori Khushkhat";
    src: url("/css/fonts/Noori-Khushkhat.ttf");
} */

/* @font-face {
    font-family: "Urdu Naskh Asiatype";
    src: url("/css/fonts/Urdu-Naskh-Asiatype.woff") format("woff"),
        url("/css/fonts/Urdu-Naskh-Asiatype.ttf") format("ttf");
} */

span[dir='rtl'],
div[dir='rtl'],
p[dir='rtl'] {
    font-size: 140%;
    font-family: "Jameel Noori Nastaleeq" !important;
}