@font-face {
    font-family: 'Noori Khushkhat';
    src: url('/style/fonts/Noori-Khushkhat.ttf');
}

span:lang(ar),
span:lang(fa),
span:lang(ps),
span:lang(ur),
div:lang(ar),
div:lang(fa),
div:lang(ps),
div:lang(ur),
p:lang(ar),
p:lang(fa),
p:lang(ps),
p:lang(ur),
a:lang(ar),
a:lang(fa),
a:lang(ps),
a:lang(ur),
span[dir='rtl'],
div[dir='rtl'],
p[dir='rtl'],
a[dir='rtl'],
._1mk,
.tweet-text-rtl {
    font-family: 'Noori Khushkhat' !important;
}