:root {
    --font-size: 140%;
}

@font-face {
    font-family: 'Noori Khushkhat';
    src: url('/style/fonts/Noori-Khushkhat.ttf');
}

span[dir='rtl'],
div[dir='rtl'],
p[dir='rtl'] {
    font-size: var(--font-size);
    font-family: 'Noori Khushkhat' !important;
}