@font-face {
    font-family: 'Urdu Naskh Asiatype';
    src: url('/style/fonts/Urdu-Naskh-Asiatype.woff');
}

span[dir='rtl'],
div[dir='rtl'],
p[dir='rtl'] {
    font-family: 'Urdu Naskh Asiatype' !important;
}