.info {
    flex-direction: column;
    margin-top: 1.4rem;
    color: @color-enable;

    .tab-navigation {
        display: flex;
        justify-content: flex-end;
        width: 100%;

        button {
            border: 0 none;
            background: transparent;
            cursor: pointer;
            margin-right: .8rem;
        }

        svg {
            width: 2rem;
            fill: #5b4636;
            vertical-align: middle;
        }
    }

    .tab-content {
        padding: 0 1.4rem;

        .logo {
            margin: 0;

            img {
                width: 2.4rem;
                vertical-align: middle;
            }
        }

        .ver {
            color: @color-disable;
            font-size: 1.6rem;
        }

        .contribution {
            font-size: 1.8rem;
            line-height: 3.4rem;

            svg {
                height: 2.8rem;
            }
        }

        .made {
            background-color: @bgc-light;
            font-size: 1.6rem;
            padding: 1.2rem;
            border-radius: .8rem;
            text-align: center;

            svg {
                height: 1.8rem;
                vertical-align: middle;
            }
        }
    }
}