html, body {
    min-width: 200px;
}

* {
    box-sizing: border-box;
}

.frame {
    margin: 2rem 0;
}

.control {
    display: flex;
    justify-content: center;
}

.control-button {
    width: 80%;
    color: #808080;
    background-color: #f5f4f0;
    border: 1px solid #d2ccbe;
    border-radius: .2rem;
    padding: .8rem 1rem;
    font-size: 1.4rem;
    text-align: center;
    cursor: pointer;
}

.control-button svg {
    width: 1rem;
    margin-right: .4rem;
    fill: #808080;
}

.control-button:hover,
.control-button:hover svg {
    background-color: #e1e0dc;
}

.enable {
    color: #5b4636;
    background-color: #d2ccbe;
    fill: #5b4636;
}

.enable svg {
    fill: #5b4636;
}

.navigation {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #f4ecd8;
    padding: .8rem 1rem;
}

.navigation img {
    height: 1.4rem;
    vertical-align: middle;
}
